*{
    margin: 0;
    padding: 0;
}

body{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
 }

body header{
    background-color: rgb(19, 20, 20);
}

header img{
    float:center;
}

header nav{
    background-color: rgb(196,67, 72);
    height: 60px;
    text-align: left;
    width:100%;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

a:hover,a:active{  color:white; text-decoration: underline;}

li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
    

section {

    padding: 20px;
    margin-left:0px;
    margin-bottom: 20px;
    padding: 20px;
    color:black;
    border-radius: 10px;
}

aside{
    background-color:#D67369;;
    color: white;
    padding: 10px; 
    margin-bottom: 20px;
    border-radius: 10px;
}

#part1{
    float: left;
    text-align: left;
    width: 58%;
    margin-right: 20px;
    margin-left: 20px;
}

#part2{
    float: right;
    width: 36%;
    text-align: center;
}

footer{
    width: 100%;
    float:right;
    height: 80px;
    background-color: rgb(196,67, 72);
    text-align: center;
}


figure{
    margin-left: 30px;
    border-radius: 10px;
}

/* media code
معناها اي شي برا ذا سويه بالديفولت فوق غيره طبق الكود  */

@media screen and (max-width: 480px){
    body{
     
        width: 100%;

     }
    
}